<section style="
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
">
<header>
  <h1>Recovering Password</h1>
</header>
<div>
<p>Hello <%= @resource.email %>!</p>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
</div>
<footer style="
display: flex;
justify-content: center;"
>
<p>Techology Blog App</p>
</footer>
</section>