<header>
<nav>
<a href="/"><%= image_tag "home.svg", alt: "Home"%></a>
<a href="/users/1/posts/new"><%= image_tag "post.svg", alt: "new Post"%></a>
<a href="/logout" class="login"><button type="button">Logout</button></a>
</nav>
</header>